@use "../../scss/variables" as var;
@use "../../scss/mixins";
@use "../../scss/index";

.nav-container {
  width: 100%;
  height: 12vh;
  margin: 0;
  padding: 0;
  @media (max-width: 700px) {
    height: 13vh;
  }
}
.navbar {
  width: 22em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  float: right;
  @media (max-width: 800px) {
    width: 18em;
  }
  @media (max-width: 350px) {
    width: 10em;
    float: left;
    padding-left: 1rem;
  }
}
.logo-container {
  border-right: 1px solid #ccc;
  padding-top: 1rem;
}
.logo {
  font-size: 2.3rem;
  font-family: var.$montserrat;
  font-weight: 500;
  color: #ccc;
  text-align: end;
  padding-top: .5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  margin-right: auto;
  @media (max-width: 800px) {
    font-size: 1.9rem;
  }

}
.navbar ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-end;
  padding-left: 1rem;
}
.navbar ul li {
  font-size: 1.1em;
  font-weight: 400;
  padding-left: .1rem;
  padding-top: .9rem;
  @media (max-width: 700px) {
    font-size: 1rem;
    padding-left: .1rem;
    padding-top: .7rem;
  }
}
.navbar ul li a {
  text-decoration: none;
  color: #666;
}
.navbar ul li a:hover {
  text-decoration: none;
  color: var.$secondary;
}

