/* Introduction */
.about-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 5rem;
  padding-top: 3.5rem;
}
.about-container {
  width: 47rem;
  padding-bottom: 2.5rem;
}

.about-top-title {
  color: var(--secondary-color);
  font-family: Montserrat, sans-serif;
  font-size: 4.2rem;
  font-family: 500;
  line-height: 5rem;
  padding-bottom: 1rem;
}
.about-top-txt {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-top: 1.5rem;
}
@media (max-width: 1200px) {
  .about-top {
    width: 100%;
    padding: 2.5rem 5rem 2rem 5rem;
  }
  .about-top-txt {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media (max-width: 900px) {
  .about-top {
    padding: 3rem 3rem;
  }
  .about-container {
    padding-bottom: 1rem;
  }
  .about-top-title {
    font-size: 3.8rem;
    line-height: 4.5rem;
    padding-bottom: 0;
  }
  .about-top-txt {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media (max-width: 600px) {
  .about-top-title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .about-top {
    padding: 0 1rem 2.5rem 1rem;
  }
  .about-top-txt {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 450px) {
  .about-top-title {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .about-top-txt {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}

/* Experience */
.about-ex-wrap {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
.about-ex-container {
  width: 47rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.about-ex-wrap {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
.about-ex-container > div:first-child {
  width: 35%;
}
.about-ex-container > div:nth-child(2) {
  width: 68%;
}
.about-ex-category {
  font-weight: 400;
  color: var(--secondary-color);
  float: right;
}
.about-ex-title {
  font-size: 1.6rem;
  padding-bottom: .8rem;
}
.about-ex-year-info {
  font-size: 1rem;
  color: #999;
  padding-bottom: .9rem;
}
.about-ex-txt {
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-bottom: 4.5rem;
}

@media (max-width: 1200px) {
  .about-ex-wrap {
    padding-right: 0;
  }
  .about-ex-container {
    width: 100%;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
}
@media (max-width: 900px) {
  .about-ex-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .about-ex-container > div:first-child {
    width: 100%;
  }
  .about-ex-container > div:nth-child(2) {
    width: 100%;
  }
  .about-ex-category {
    float: left;
    padding-bottom: 2.5rem;
  }
  #about-ex-container-gap {
    padding-bottom: 4rem;
  }
  .about-ex-txt {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding-bottom: 4.5rem;
  }
  
}


/* Contact */
#contact-bg-color {
  background-color: var(--secondary-color);
  padding-top: 3rem;
}
.contact-container {
  width: 47rem;
  padding-bottom: 5rem;
}
.contact-title {
  font-family: Montserrat, sans-serif;
  font-size: 5rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}
.contact-txt{
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  padding: 2rem;
}
.form-container {
  width: 100%;
  padding: 0 3rem;
}
.form {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 2rem;
}
.contact-form-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem 0;
}
.about-btn {
  background-color: inherit;
  color: var(--secondary-color);
  padding: .5rem 6rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  border: 2px solid var(--secondary-color);
  align-self: center;
  text-decoration: none;
}
.about-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  padding: .5rem 0;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  border: 2px solid #fff;
  align-self: center;
  text-decoration: none;
}
.form > input, textarea {
  margin: 1rem 0;
}
@media (max-width: 900px) {
  .contact-container {
    width: 100%;
    padding: 0 3rem 5rem 3rem;
  }
  #contact-bg-color {
    background-color: var(--secondary-color);
    padding: 2rem 0;
  }
  .contact-title {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
  }
}
@media (max-width: 600px) {
  .contact-container {
    width: 100%;
    padding: 0 1rem 3rem 1rem;
  }
  #contact-bg-color {
    background-color: var(--secondary-color);
    padding: 1.5rem 0;
  }
  .form {
    padding: 2rem 1rem;
  }
  .contact-form-title {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  .contact-title {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
  }
  .about-btn {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .contact-form-title {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  .contact-title {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 2rem;
  }
}

/* Modal */
.modal {
  font-family: arial;
}

.modal {
  position: fixed;
  width: 450px;
  z-index: 1040;
  top: 30%;
  left: 30%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 1.3rem;
}

#btn-contact {
  background-color: var(--secondary-color);
  color: #fff;
  padding: .5rem 3rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  border: 2px solid #fff;
  align-self: center;
  text-decoration: none;
  margin: 1.3rem 0;
  float: right;
}
#btn-contact:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}