
/* home top */
.home-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  padding: 5rem 0 5rem 0;
  justify-content: center;
}
.home-top div:first-child {
  width: 35%;
  padding: 3.2rem;
}
.home-top-title {
  font-size: 4rem;
  font-family: 500;
  line-height: 5rem;
}
.home-top img {
  max-height: 35vh;
}
@media (max-width: 1890px) {
  .home-top-title {
    font-size: 3.8rem;
    line-height: 4.7rem;
  }
  .home-top div:first-child {
    width: 40%;
    padding: 3.3rem 2rem;
  }
}
@media (max-width: 1500px) {
  .home-top-title {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .home-top div:first-child {
    width: 50%;
    padding: 3.3rem 0;
  }
}
@media (max-width: 1000px) {
  .home-top-title {
    font-size: 3.3rem;
    line-height: 4.2rem;
  }
  .home-top {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem 0 5rem 0;
    justify-content: center;
  }
  .home-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .home-top div:first-child {
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 600px) {
  .home-top-title {
    font-size: 2.9rem;
    line-height: 3.6rem;
  }
  .home-top div:first-child {
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
  }
}
@media (max-width: 480px) {
  .home-top {
    padding: 3rem 0 3rem 0;
  }
  .home-top-title {
    font-size: 2.3rem;
    line-height: 3rem;
    padding-left: 0;
  }
  .home-top div:first-child {
    padding: 3rem 2rem;
  }
  
}

/* introduction */
.home-intro {
  width: 100%;
  padding: 7rem 6rem 6rem 8rem;
  background-color: var(--primary-color);
}
.home-intro-container {
  display: flex;
  flex-direction: row;
  margin: auto auto;
  max-width: 1200px;
  justify-content: center;
}
.intro-header {
  color: #fff;
  font-size: 3rem;
  line-height: 3.7rem;
}
.intro-p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 2rem 0;
}

@media (max-width: 1500px) {
  .home-intro {
    width: 100%;
    padding: 5rem 2rem 3.5rem 4rem;
    background-color: var(--primary-color);
  }
  .intro-header {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .intro-p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 2rem 0;
  }
}
@media (max-width: 1300px) {
  .home-intro {
    padding: 5rem 8rem 6.5rem 10rem;
  }
  .intro-header {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .intro-p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 2rem 0;
  }
  .home-intro-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .intro-img-container{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .home-intro {
    padding: 3rem 2rem 4rem 2.5rem;
  }
  .intro-header {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .intro-p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 1.5rem 0;
  }
}
@media (max-width: 600px) {
  .home-intro {
    padding: 3rem 1.5rem 4rem 1.5rem;
  }
  .intro-img {
    width: 16rem;
  }
  .intro-header {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .intro-p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 1.5rem 0;
  }
}

/* projects */
.home-project {
  padding: 4rem 0;
}
.home-project-title {
  color: var(--tertiary-color);
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 10rem;
  float: right;
}
.home-project-txt-container {
  margin: 0;
  padding: 3rem 0;
  width: 60%;
}
.home-project-txt {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.home-project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}

.home-project-container > div{
  width: 30%;
}
.home-project-container > div > p{
  padding-top: .3rem;
  font-size: 1.3rem;
  line-height: 2rem;
}
.home-project-container img {
  border: 1px solid #BFBFBF;
  box-shadow: 5px 5px 5px #ddd;
  margin-bottom: 1.5rem;
}
.home-project-container h3 {
  color: var(--tertiary-color);
  font-size: 2rem;
  font-weight: 400;
  padding: .5rem 0;
}

.home-project-btn-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1400px) {
  .home-project {
    padding: 4rem 0 5rem 0;
  }
  .home-project-title {
    font-size: 10rem;
    padding-right: 1.5rem;
  }
  .home-project-txt-container {
    padding: 3rem 2rem;
    width: 50rem;
  }
  .home-project-container{
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0;
  }
  .home-project-container > div{
    width: 35rem;
    padding-bottom: 7rem;
  }
  .home-project-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }

}
@media (max-width: 850px) {
  .home-project-title {
    font-size: 7rem;
    padding-left: 1rem;
    float: left;
  }
  .home-project-txt {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .home-project-txt-container {
    padding: 1.5rem 2rem;
    width: 32rem;
  }
  .home-project-container > div{
    width: 23rem;
    padding-bottom: 5rem;
  }
  .home-project-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 600px) {
  .home-project-title {
    font-size: 5rem;
    padding: 0;
  }
  .home-project-txt-container {
    padding: 1.5rem 0;
    width: 100%;
  }
  .home-project-container > div{
    width: 100%;
    padding-bottom: 4.5rem;
  }
  .home-project-container img {
    width: 100%;
    margin-bottom: .8rem;
  }
  .home-project-container > div > p{
    padding-top: .2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .home-project-btn-link {
    width: 100%;
  }
  #home-game-btn {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .home-project-title {
    font-size: 4rem;
    padding: 0;
  }
}


/* challenge */
.home-challenge {
  background-color: var(--secondary-color);
  align-items: center;
  padding: 5rem 0;
  justify-content: center;
}

.challenge-title {
  font-family: Montserrat, sans-serif;
  font-size: 5.3rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
}
.challenge-txt{
  color: #fff;
  padding: 3rem 12rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.home-challenge button {
  align-items: center;
}
.home-challenge button:hover {
  color: var(--secondary-color);
}

@media (max-width: 1200px) {
  .challenge-title {
    font-size: 4rem;
  }
  .challenge-txt{
    color: #fff;
    padding: 3rem 8rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 800px) {
  .challenge-title {
    font-size: 3rem;
  }
  .challenge-txt{
    color: #fff;
    padding: 3rem 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
  }
  
}
@media (max-width: 600px) {
  .challenge-title {
    font-size: 3rem;
  }
  .challenge-txt{
    color: #fff;
    padding: 3rem 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
  }
  #challenge-btn {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  } 
}
@media (max-width: 550px) {
  .challenge-title {
    font-size: 2.5rem;
  }
  .challenge-txt{
    color: #fff;
    padding: 3rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}