
.home-introduction{
  height: 100%;
  width: 100%;
  padding: 5rem 10rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.introduction-header, .introduction-p{
  color: #fff;
}

.section-header{
  font-size: 2.5rem;
}

.home-project-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-project-container div{
  width: 30%;

}

@media (max-width: 800px) {
  .home-project-container{
    flex-direction: column;
    
  }
}

.home-challenge {
  background-color: var(--secondary-color);
  align-items: center;

}
.challenge-title {
  font-size: 5rem;
  color: #fff;
}
.challenge-txt{
  color: #fff;
}