.kpc-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  background-image: url('../assets/kpc_bg_image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 1rem;
}
.kpc-container {
  max-width: 55rem;
  padding: 15rem 5rem;
}
.kpc-top-title{
  font-size: 4rem;
  font-family: 500;
  line-height: 5rem;
}
.kpc-top-txt {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1rem 0 1rem 0;
}
.project-top-link {
  padding: 2rem 0;
}
.project-top-link a{
  text-decoration: none;
}
.project-top-button {
  color: #768423;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #768423;
  align-self: center;
  text-decoration: none;
}
#gap{
  margin-right: 1rem;
}
.project-top-button:hover{
  color: #fff;
  background-color: #768423;
}
.project-top-button a {
  text-decoration: none;
}
@media (max-width: 1300px) {
  .kpc-top {
    height: 90vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 900px) {
  .kpc-top {
    height: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    margin-top: 1rem;
  }
  .kpc-container {
    max-width: 100%;
    padding: 10rem 3rem;
  }
  .kpc-top-title{
    font-size: 3.4rem;
    line-height: 4rem;
  }
  .kpc-top-txt {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 600px) {
  .kpc-top {
    margin-top: 0;
  }
  .kpc-container {
    padding: 10rem 1rem;
  }
  .kpc-top-title{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .kpc-top-txt {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .project-top-button {
    font-size: 1em;
  }
}


/* Details */
.kpc-detail-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.kpc-detail-item-container {
  max-width: 55rem;
}
#kpc-detail-title{
  margin-top: 7rem;
}
.kpc-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}
.kpc-img-container > div img {
  border: 1px solid #999;
}
.kpc-detail-sub-container {
  padding: 3rem 0;
}
.kpc-sub-header {
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.kpc-img-diagram {
  width: 100%;
}
.kpc-ui-img-container {
  display: flex;
  flex-direction: row;
  gap:4%;
}
@media (max-width: 1200px) {
  .kpc-detail-item-container {
    max-width: 100%;
    padding: 0 5rem;
  }
  .kpc-img-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:3rem
  }
  .kpc-img-container > div img {
    width: 100%;
  }
  .kpc-ui-img-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .kpc-ui-img-container > div{
    text-align: center;
    width: 100%;
    padding: 1rem 0 2rem 0;
  }
}
@media (max-width: 900px) {
  .kpc-detail-item-container {
    padding: 0 3rem;
  }
}
@media (max-width: 600px) {
  .kpc-detail-item-container {
    padding: 0 1rem;
  }
  .kpc-ui-img-container > div{
    padding: .6rem 0 1.5rem 0;
  }
  .kpc-ui-img-container > div img{
    width: 100%;
  
  }
  #gap {
    margin-right: 0;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  #kpc-btn {
    width: 100%;
  }
}
