/* Common items */
.sub-title{
  color: #999;
  font-size: 1.9rem;
  font-family: 500;
  padding-top: 3.5rem;
}
.tool-icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0 1rem 0;
}
.tool-icons {
  width: 55%;
}
#right {
  float: right;
}


/* Poject Top Area */
.project-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  padding: 6rem 25rem;
}
.project-title {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 12rem;
}
.project-top-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.project-txt-container {
  padding: 3rem 0;
  width: 50rem;
  float: inline-end;
}
.project-txt {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

/* Kauri Point Construction */
.project-kpc {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
}
.project-img-container {
  display: flex;
  flex-direction: column;
  width: 52rem;
}
.project-img-container > img:first-child {
  border: 1px solid #999;
  justify-content: center;
}
.project-kpc-title {
  font-size: 4rem;
  font-family: 300;
  color: #768423;
  padding: 1.3rem 0 1.3rem 0;
}
.project-img-container > p {
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.button-container {
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
}
.button-container > div {
  flex: 48%;
  gap: 2%;
}
.kpc-button {
  color: #768423;
  background-color: inherit;
  width: 96%;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #768423;
  align-self: center;
  text-decoration: none;
}
.kpc-button:hover{
  color: #fff;
  background-color: #768423;;
  border: 2px solid #768423;;
}
.GeyIt{
  height: 100%;
  width: 100%;
  padding: 4rem 5rem 2.5rem 10rem;
  background-color: var(--primary-color);
}
