/* projects */
.project {
  padding: 4rem 0;
}
.project-title {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 12rem;
  float: left;
}
.home-project-txt-container {
  padding: 3rem 0;
  width: 60%;
}
.home-project-txt {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.home-project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}

.home-project-container div{
  width: 30%;
}
.home-project-container div p{
  padding-top: .3rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.home-project-container img {
  border: 1px solid #BFBFBF;
  box-shadow: 5px 5px 5px #ddd;
  margin-bottom: 1.5rem;
}
.home-project-container h3 {
  color: var(--tertiary-color);
  font-size: 2.1rem;
  font-weight: 300;
  padding: .5rem 0;
}
#home-project-btn a {
  text-decoration: none;
}