/* Common items */
.project-wrap {
  width: 100%;
  padding: 5.5rem 0;
  display: flex;
  flex-direction: column;
}
.sub-title{
  color: #999;
  font-size: 1.9rem;
  font-family: 500;
  padding-top: 3.5rem;
}
.project-title {
  font-size: 4rem;
  font-family: 300;
  color: #768423;
  padding: 1.3rem 0 1.3rem 0;
}
.project-txt-container {
  padding: 3rem 0;
  width: 50rem;
  float: inline-end;
}
.project-txt {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.tool-icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding:.5rem 0;
}
.tool-icons {
  width: 25rem;
}
#right {
  float: right;
}
#txt-gray {
  color: #999;
}
#white-txt-color {
  color: #fff;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.button-container > div {
  flex: 48%;
}
.project-single-button {
  color: #fff;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #fff;
  align-self: center;
  text-decoration: none;
}
.project-single-button:hover{
  color: var(--primary-color);
  background-color: #fff;
}
.project-single-button a {
  text-decoration: none;
}
#gap{
  margin-right: 1rem;
}
@media (max-width: 1200px) {
  .project-txt {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .project-txt-container {
    padding: 3rem 0;
    width: 40rem;
    float: inline-end;
  }
}
@media (max-width: 900px) {
  .project-wrap {
    padding: 4rem 0;
  }
  .project-txt-container {
    padding: 2.5rem 0;
    width: 30rem;
  }.project-txt {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .sub-title{
    font-size: 1.5rem;
    padding-top: 3rem;
  }
  .project-title {
    font-size: 3rem;
    line-height: 3.3rem;
    padding: .8rem 0 1.3rem 0;
  }
}
@media (max-width: 600px) {
  .sub-title{
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  .project-txt-container {
    padding: 2rem .5rem;
    width: 30rem;
    float: inline-start;
  }
  .project-txt {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .project-single-button {
    width: 100%;
    padding: .5rem 0;
    margin: .6rem 0;
    font-size: 1.1em;
  }
}
@media (max-width: 450px) {
  .project-wrap {
    padding: 3.5rem 0;
  }
  .project-title {
    font-size: 2.5rem;
    line-height: 3rem;
    padding: .8rem 0 1rem 0;
  }
  .tool-icons {
    width: 18rem;
  } 

}
@media (max-width: 300px) {
  .tool-icons {
    width: 15rem;
  } 
}


/* Poject Top Area */
.project-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65vh;
  padding: 6rem 20rem;
}
.project-top-title {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 12rem;
}
.project-top-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1650px) {
  .project-top {
    height: 60vh;
    padding: 6rem 8rem;
  }
}
@media (max-width: 1200px) {
  .project-top {
    height: 55vh;
    padding: 4.5rem 3.5rem;
  }
  .project-top-title {
    font-size: 10rem;
  }
}
@media (max-width: 900px) {
  .project-top {
    height: 50vh;
    padding: 4rem 2rem;
  }
  .project-top-title {
    font-size: 7rem;
  }
}
@media (max-width: 600px) {
  .project-top {
    height: 45vh;
    padding: 3rem 1rem;
  }
  .project-top-title {
    font-size: 5rem;
  }
}
@media (max-width: 350px) {
  .project-top {
    height: 45vh;
    padding: 3rem 1rem;
  }
  .project-top-title {
    font-size: 3.5rem;
  }
}




/* Kauri Point Construction */
.project-img-container {
  display: flex;
  flex-direction: column;
  width: 52rem;
}
.project-img-container > img:first-child {
  border: 1px solid #999;
  justify-content: center;
}
.project-img-container > p {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-bottom: 2rem;
}
.kpc-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.kpc-button-container > div {
  flex: 50%;
  padding-top: 1.5rem;
}
.kpc-button-container > div:first-child {
  flex: 100%;
}
.kpc-button-whole {
  color: #768423;
  background-color: inherit;
  width: 100%;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #768423;
  align-self: center;
  text-decoration: none;
}
.kpc-button {
  color: #768423;
  background-color: inherit;
  width: 98%;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #768423;
  align-self: center;
  text-decoration: none;
}
.kpc-button-whole:hover{
  color: #fff;
  background-color: #768423;;
  border: 2px solid #768423;;
}
.kpc-button:hover{
  color: #fff;
  background-color: #768423;
  border: 2px solid #768423;
}
@media (max-width: 1250px) {
  .project-img-container {
    width: 100%;
    padding:0 5rem;
  }
}
@media (max-width: 950px) {
  .project-img-container {
    padding:0 3rem;
  }
  .project-img-container > p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .project-img-container {
    padding:0 .5rem;
  }
  .project-img-container > p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .kpc-button-container > div {
    flex: 100%;
    padding: 1.5rem 0 0 0;
  }
  #right {
    float: left;
  }
}



/* Get IT Python */
.GeyIt {
  height: 100%;
  width: 100%;
  padding: 4.5rem 0;
  background-color: var(--primary-color);
}
.getit-container {
  display: flex;
  flex-direction: row;
  gap:4%;
  padding-bottom: 4rem;
}
.getit-container div{
  flex: 50%;
}
#project-txt-getit {
  color: #fff;
  line-height: 2.2rem;
}
.poster-container div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.poster-container > div img {
  padding: 2.5em 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.getit-txt-container {
  width: 100%;
  padding: 2rem 5rem 0 5rem
}
@media (max-width: 1400px) {
  .getit-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 4rem 10rem;
  }
}
@media (max-width: 1250px) {
  .getit-pc-img {
    width: 100%
  }
  .getit-container {
    padding: 4rem 5rem;
  }
  .poster-container > div img {
    width: 80%;
    padding: 2.5em 0;
  }
}
@media (max-width: 950px) {
  .getit-container {
    padding: 3rem 3rem;
  }
  #project-txt-getit {
    color: #fff;
    line-height: 1.9rem;
  }
  .poster-container > div img {
    padding: 2em 0;
  }
  .getit-txt-container {
    padding: 2rem 3rem 0 3rem
  }
 
}
@media (max-width: 600px) {
  .getit-container {
    padding: 2rem .8rem;
  }
  .getit-txt-container {
    padding: 1rem 0 0 0
  }
}



/* poco a poco */
#poco-color {
  color: #ADA482;
}
.project-poco-button {
  margin: 3rem 0;
  color: #ADA482;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #ADA482;
  align-self: center;
  text-decoration: none;
}
.project-poco-button:hover{
  color: #fff;
  background-color: #ADA482;
}
.project-poco-button a {
  text-decoration: none;
}
.poco-icons {
  width: 21rem;
}
@media (max-width: 600px) {
  .poco-icons {
    width: 18rem;
    padding: 1.5rem 0;
  }
  .project-poco-button {
    width: 100%;
    margin: .6rem 0;
    font-size: 1.2em;
  }
}



/* Happy Chick */
.game {
  height: 100%;
  width: 100%;
  padding: 2.5rem 0 0 0;
  background-color: var(--tertiary-color);
}
.game-container {
  display: flex;
  flex-direction: row;
  gap:6%;
}
.game-image {
  padding-top: 4rem;
}

.game-button {
  color: #756229;
  background-color: inherit;
  width: 100%;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #756229;
  align-self: center;
  text-decoration: none;
  margin-bottom: 8rem;
}
.game-button:hover {
  color: var(--tertiary-color);
  background-color: #756229;
  border: 2px solid #756229;
}
.game-icons {
  width: 4rem;
}
@media (max-width: 1400px) {
  .game-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 4rem 10rem;
    gap:none;
  }
  .game-image {
    width: 100%;
  }

}


/* Whitecliffe Digital Resources */
#dresources_img {
  border: none;
}
#dresources-color {
  color: #6FCF97;
}
.dresources-button {
  margin: 3rem 0;
  color: #6FCF97;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #6FCF97;
  align-self: center;
  text-decoration: none;
}
.dresources-button:hover {
  color: #fff;
  background-color: #6FCF97;
}



/* AMS */
#ams-color {
  color: #2D9CDB;
}
#ams-tools-icon {
  width: 15rem;
  padding: 2rem 0;
}
.ams-button {
  color: #2D9CDB;
  background-color: inherit;
  width: 100%;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #2D9CDB;
  align-self: center;
  text-decoration: none;
}
.ams-button:hover {
  color: #fff;
  background-color: #2D9CDB;
  border: 2px solid #2D9CDB;
}

/* Tradies */
#tradie-backgroup-color {
  background-color: var(--tertiary-color);
}
#tradie-txt-color {
  color: #666;
}
.tradies-button {
  margin: 3rem 0;
  color: #666;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #666;
  align-self: center;
  text-decoration: none;
}
.tradies-button:hover {
  color: var(--tertiary-color);
  background-color: #756229;
  border: 2px solid #756229;
}
#tradie_img {
  margin-top: 2.5rem;
  border: 1px solid #ccc;
}

/* Eye Candy Cinema */
#cinema-txt-color {
  color: #FD7777;
}
#cinema-tools-icon {
  width: 23rem;
  padding: 2rem 0;
}
.cinema-button {
  margin: 3rem 0;
  color: #FD7777;
  display: inline;
  width: 48%;
  background-color: inherit;
  padding: .5rem 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid #FD7777;
  align-self: center;
  text-decoration: none;
}
.cinema-button:hover {
  color: #fff;
  background-color: #FD7777;
  border: 2px solid #FD7777;
}

/* Sugar Sumash */
#suger-smash-txt-color {
  color: #F2994A;
}
.unique-title {
  text-align: center;
  font-size: 2.7rem;
  font-family: 400;
  color: #F2994A;
  padding: 3.7rem 0;
}
.sugar-smash-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sugar-smash-container > div {
  width: 22rem;
  padding: 0 1rem;
}
.sugar-smash-container > div img {
  width: 19rem;
}
.sugar-smash-h2 {
  font-weight: 400;
  color: #F2994A;
  font-size: 1.7rem;
  padding: 1rem 0;
}

/* Others */
.others-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--tertiary-color);
  text-align: end;
}
.others-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
#content-left {
  padding-right: 33rem;
}
#content-right {
  padding-left: 30rem;
}

