.footer {
  width: 100%;
  margin-top: 2.5rem;
}
.footer-logo-container {
  width: 20rem;
  border-bottom: 1px solid #ccc;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-bottom: .8rem;
}
.footer-logo {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #ccc;
  text-align: start;
  padding-top: 1rem;

}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer ul > li{
  margin: 1em 1.5em;
  font-size: 1.1rem;
  text-decoration: none;
}
.footer ul > li :hover{
  color: var(--primary-color);
}

.footer-copyright{
  color: #999;
  text-align: center;
  font-size: .8em;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 500px) {
  .footer ul > li{
    margin: .5em 1em;
  }
  }