.footer {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
}
.footer > div {
  width: 50%;
}
.footer-logo-container {
  width: 20rem;
  border-bottom: 1px solid #ccc;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-bottom: .8rem;
}
.footer-logo {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #ccc;
  text-align: start;
  padding-top: 1rem;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer ul > li{
  margin: 1em 1.5em;
  font-size: 1.1rem;
  font-weight: 400;
}
.footer ul > li a {
  text-decoration: none;
  color: #666;
}
.footer ul > li a:hover {
  text-decoration: none;
  color: var(--secondary-color);;
}
.footer-copyright{
  color: #aaa;
  text-align: right;
  font-size: .8em;
  text-align: right;
  padding: 5.5rem  2.5rem 0 0;
}
.footer-copyright a img {
  padding: 0 0 1rem 0;
}
.footer-copyright a:first-child {
  padding-right:1rem;
}
@media (max-width: 1200px) {
  .footer {
    margin: 1.4rem 0;
  }
  .footer-logo-container {
    width: 18rem;
  }
  .footer-logo {
    font-size: 2.2rem;
    letter-spacing: 1.1px;
    padding-top: 1rem;
  }
  .footer ul > li{
  margin: 1em 1.1em;
  font-size: 1.1rem;
  }
  .footer-copyright{
    font-size: .8em;
    padding: 4.2rem  2.5rem 0 0;
  }
  .footer-copyright a img {
    width: 2.8rem;
  }
}
@media (max-width: 680px) {
  .footer {
    margin: 1.4rem 0;
  }
  .footer-logo-container {
    width: 13rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  .footer-logo {
    font-size: 1.7rem;
    letter-spacing: .9px;
  }
  .footer ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: .5rem;
  }
  .footer ul > li{
  margin: .7em 1.5em;
  font-size: 1.1rem;
  }
  .footer-copyright{
    font-size: .8em;
    padding: 8.2rem  1.5rem 0 0;
  }
  .footer-copyright a img {
    width: 2.5rem;
  }
}
