@use "variables" as var;
@use "sass:map";
@use "sass:color";

// containers
@mixin bg-container ($name:"", $bg:white) {
  .bg-container#{$name} {
    width: 100%;
    margin: 0;
    padding: 3.5rem 5rem 5rem 5rem;
    justify-content: center;
    background-color: $bg;
    @media (max-width: 1200px) {
      padding: 3rem;
    }
    @media (max-width: 780px) {
      padding: 2rem;
    }
    @media (max-width: 500px) {
      padding: 1.5em;
    }
  }
}
@include bg-container("-primary", var.$primary);
@include bg-container("-secondary", var.$secondary);
@include bg-container("-tertiary", var.$tertiary);
@include bg-container("-white", white);
@include bg-container("-kpc", var.$kpc);

@mixin summary-container ($name:"", $bg:white) {
  .summary-container#{$name} {
    width: 100%;
    margin: 0;
    padding: 5rem 5rem 2rem 5rem;
    justify-content: center;
    background-color: $bg;
    @media (max-width: 1200px) {
      padding: 4rem 3rem 1rem 3rem;
    }
    @media (max-width: 780px) {
      padding: 4rem 1rem 0 1rem;
    }
    @media (max-width: 780px) {
      padding: 4rem 2rem 0 2rem;
    }
    @media (max-width: 500px) {
      padding: 4rem 1.5rem 0 1.5rem;
    }
  }
}
@include summary-container("-smahh", var.$smahh);
@include summary-container("-kpc", var.$kpc);
@include summary-container("-sk", var.$sk);

// headings
@mixin header($name:"", $col, $align){
  .header#{$name} {
    color: $col;
    font-family: var.$montserrat;
    font-size: 4.5em;
    font-weight: 300;
    text-align: $align;
    @media (max-width: 1200px) {
      font-size: 4em;
    }
    @media (max-width: 800px) {
      font-size: 3.2em;
    }
    @media (max-width: 600px) {
      font-size: 2.8em;
    }
    @media (max-width: 480px) {
      font-size: 2.3em;
    }
  }
  
}
@include header("-primary", var.$txt, center);
@include header("-secondary", var.$secondary, left);
@include header("-white", white, center);

// Project headings
@mixin project-title($name:"", $col){
  .project-title#{$name} {
    color: $col;
    font-family: var.$roboto;
    font-size: 4em;
    font-weight: 300;
    padding: 1rem 0 0 0;
    @media (max-width: 1200px) {
      font-size: 3em;
    }
    @media (max-width: 800px) {
      font-size: 2.7em;
    }
    @media (max-width: 600px) {
      font-size: 2.5em;
    }
  } 
}
@include project-title("-primary", var.$txt);
@include project-title("-secondary", var.$secondary);
@include project-title("-tertiary", var.$tertiary);
@include project-title("-white", white);
@include project-title("-smahh", var.$smahh);
@include project-title("-sk", var.$sk);
@include project-title("-kpc", var.$kpc);
@include project-title("-poco", var.$poco);
@include project-title("-digital-resouce", var.$digital-resouce);
@include project-title("-ams", var.$ams);
@include project-title("-cinema", var.$cinema);
@include project-title("-suger-smash", var.$suger-smash);

// text
@mixin txt($name:"", $col){
  .txt#{$name} {
    color: $col;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1.1em 0;
    @media (max-width: 700px) {
      font-size: 1em;
    }
  }
  
}
@include txt("-primary", var.$txt);
@include txt("-white", white);

// general buttons
@mixin btn ($name:"", 
  $bg: var.$primary, 
  $col:white, 
  $border: var.$primary,
  $hover-bg: white,
  $hover-col:var.$primary
  ){
  .btn#{$name}{
    border: 1px solid $border;
    background-color: $bg;
    color: $col;
    padding: .5rem 6rem;
    font-size: 1em;
    border-radius: 4px;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 1000px) {
      padding: .5rem 4rem;
      font-size: 1.1em;
    }
    @media (max-width: 800px) {
      padding: .5rem 3.5rem;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 1em;
    }

    &:hover {
      background: $hover-bg;
      color: $hover-col;
      transition: 256ms all;
    }
  }
}

$buttons: 
  "", 
  -primary var.$primary white white white var.$primary, 
  -secondary var.$secondary white white white var.$secondary, 
  -tertiary white var.$tertiary var.$tertiary  var.$tertiary white,
  -secondaryfill var.$secondary white var.$secondary white var.$secondary,
  -smahhfill inherit var.$smahh var.$smahh var.$smahh white,
  -kpcfill inherit var.$kpc var.$kpc var.$kpc white,
  -skfill inherit var.$sk var.$sk var.$sk white;

@each $name, $bg, $col, $border-col, $hover-bg, $hover-col in $buttons {
  @include btn($name, $bg, $col, $border-col, $hover-bg, $hover-col)
}

// project buttons
@mixin project-btn ($name:"", 
  $bg: inherit, 
  $col: var.$txt, 
  $border: var.$txt,
  $hover-bg: inherit,
  $hover-col:var.$txt
  ){
  .project-btn#{$name}{
    border: 2px solid $border;
    color: $col;
    background-color: $bg;
    width: 100%;
    padding: .5rem 0;
    font-size: 1.2em;
    border-radius: 4px;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 1000px) {
      padding: .5rem 4rem;
      font-size: 1.1em;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 1em;
    }
    &:hover {
      background: $hover-bg;
      color: $hover-col;
      transition: 256ms all;
    }
  }
}
$buttons: 
  "",
  -smahh white var.$smahh var.$smahh var.$smahh white,
  -kpc white var.$kpc var.$kpc var.$kpc white,
  -sk white var.$sk var.$sk var.$sk white,
  -poco white var.$poco var.$poco var.$poco white,
  -game inherit var.$game var.$game var.$game var.$tertiary,
  -digital-resouce white var.$digital-resouce var.$digital-resouce var.$digital-resouce white,
  -ams white var.$ams var.$ams var.$ams white,
  -cinema white var.$cinema var.$cinema var.$cinema white,
  -suger-smash white var.$suger-smash var.$suger-smash var.$suger-smash white,
  -primary var.$primary white white white var.$primary,
  -kpcfill var.$kpc white white white var.$kpc,
  -skfill var.$sk white white white var.$sk;
@each $name, $bg, $col, $border-col, $hover-bg, $hover-col in $buttons {
  @include project-btn($name, $bg, $col, $border-col, $hover-bg, $hover-col)
}

///// project-btn-containers /////
.project-btn-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@mixin btn-inner-container($name:"", $width){
  .btn-inner-container#{$name} {
    width: $width;
    padding-bottom: 4%;
    @media (max-width: 800px) {
      width: 100%;
      padding-bottom: 1.5rem;
    }
  }
}
@include btn-inner-container("-whole", 100%);
@include btn-inner-container("-half", 48%);
