// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:wght@100;500;700;900&display=swap');
// font Variables
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;


$txt-light:#999;
$txt: #666;

$bg: #FFF;
$primary: #6287E8;
$secondary: #FD7777;
$tertiary: #F2C94C;
$kpc: #768423;
$poco: #ADA482;
$digital-resouce: #6FCF97;
$ams: #2D9CDB;
$cinema: #FD7777;
$suger-smash: #F2994A;
$game: #756229;
