@use "variables" as var;
@use "index";


/* home top */
.home-top {
  @extend %container;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 4rem 0 4rem 20rem;
  @media (max-width: 1500px) {
    padding: 1rem 0 3rem 10rem;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 1rem 0 3rem 0;
    justify-content: center;
  }
  @media (max-width: 480px) {
    padding: 0 0 3rem 0;
  }
  div {
    @media (max-width: 1200px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &:first-child {
      width: 60%;
      padding: 3rem;
      @media (max-width: 1600px) {
        width: 40%;
        padding: 3.3rem 0;
      }
      @media (max-width: 1200px) {
        width: 100%;
        padding: 4rem;
      }
      @media (max-width: 600px) {
        padding: 1rem 1rem 3rem 1rem;
      }
      @media (max-width: 480px) {
        padding: 3rem 2rem;
      }
    }  
  }
  img {
    width: 100%;
    padding: 0 0 0 1rem;
    @media (max-width: 1500px) {
      width: 80%;
      padding: 2rem 0 0 1rem;
    }
    @media (max-width: 1200px) {
      width: 28%;
      padding: 0 3rem 2rem 0;
    }
    @media (max-width: 1000px) {
      width: 18rem;
    }
    @media (max-width: 600px) {
      width: 15rem;
      padding-right: 1rem;
    }
  }
}

.home-top-title {
  font-size: 3em;
  font-family: 500;
  line-height: 1.3em;
  @media (max-width: 1200px) {
    font-size: 2.8em;
  }
  @media (max-width: 1000px) {
    font-size: 2.5em;
  }
  @media (max-width: 600px) {
    font-size: 2.6em;
    line-height: 3.6rem;
  }
  @media (max-width: 480px) {
    font-size: 2em;
    line-height: 2.8rem;
    padding-left: 0;
  }
  @media (max-width: 380px) {
    font-size: 1.9em;
    line-height: 2.7rem;
  }
}


/* introduction */
.home-intro-container {
  @extend %container;
  flex-direction: row;
  padding: 2em;
  @media (max-width: 1500px) {
    width: 100%;
    padding: 4rem 2rem 4rem 4rem;
  }
  @media (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding: 4rem auto;
      max-width: 800px;
  }
  @media (max-width: 900px) {
    width: 100%;
    padding: 3rem 1rem;
  }
}

.home-intro-header {
  color: #fff;
  font-size: 2.5em;
  line-height: 1.4em;
  @media (max-width: 1500px) {
    font-size: 2.2em;
    line-height: 1.5em;
  }
  @media (max-width: 900px) {
    font-size: 2em;
    line-height: 1.3em;
  }
  @media (max-width: 600px) {
    font-size: 1.7em;
    line-height: 1.4em;
  }
}

@media (max-width: 1300px) {
  .intro-img-container{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .intro-img {
    width: 18rem;
  }
}


/* projects */
.home-project-container {
  padding: 4rem 3rem 5rem 3rem;
  @media (max-width: 800px) {
    padding: 3rem 2rem 4rem 2rem;
  }
  @media (max-width: 600px) {
    padding: 3rem 1rem 4rem 1rem;
  }
}
.home-top-flex-col{
  display: flex;
  flex-direction: column;
}
.home-project-header-container{
  width: 100%;
}
.home-project-header {
  color: var.$tertiary;
  font-family: var.$montserrat;
  font-weight: 100;
  font-size: 10em;
  float: right;
  @media (max-width: 1000px) {
    font-size: 8em;
  }
  @media (max-width: 650px) {
    font-size: 5em;
    float: left;
  }
}
.home-project-txt-container{
  width: 750px;
  @media (max-width: 1000px) {
    width: 80%;
  }
  @media (max-width: 650px) {
    width: 100%;
  }
}

.home-three-project-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  margin: 4rem 0;
  @media (max-width: 1100px) {
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
  }
  @media (max-width: 600px) {
    gap: 2.8em;
  }

  div{
    width: 30%;
    @media (max-width: 1100px) {
      width: 50%;
    }
    @media (max-width: 800px) {
      width: 90%;
    }
    img {
      width: 100%;
      border: 1px solid #BFBFBF;
      box-shadow: 5px 5px 5px #ddd;
    }
    h3 {
      color: var.$tertiary;
      font-size: 2em;
      padding: .5em 0 .3em 0;
      font-weight: 300;
      @media (max-width: 800px) {
        font-size: 1.7em;
      }
    }
    p{
      font-size: 1em;
      line-height: 1.55em;
    }
  }
}


/* challenge */
#callenge-container-padding{
  padding: 4rem 0;
}
.challenge-txt-container{
  padding: 1rem 18rem;
  @media (max-width: 1500px) {
    padding: 1rem 14rem;
  }
  @media (max-width: 1100px) {
    padding: 1rem 7rem;
  }
  @media (max-width: 800px) {
    padding: 1rem 2rem;
  }
  @media (max-width: 600px) {
    padding: 1rem 1rem;
  }
}

